<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<title>QR-pass update</title>
	</head>
	<body>
		<p>Wail...</p>
		<ul id="error"></ul>

		<script>
			const uuid = <%- JSON.stringify(uuid) %>;
			const id = <%- JSON.stringify(cardid) %>;

			fetch(`/api/googlewallet/ticket/qr/update/${uuid}/${id}`)
				.then((response) => response.json())
				.then((data) => {
					if (data.error) {
						throw new Error(data.error);
					}
					console.log(data);
					document.getElementById("error").innerHTML =
						`<li>QR-код обновлён</li>`;
					window.close();
				})
				.catch((error) => {
					document.getElementById("error").innerHTML =
						`<li>Ошибка обновления QR-кода: ${error}</li>`;
					console.error("Ошибка:", error);
				});
			
			
		</script>
	</body>
	<style>
		html {
			color-scheme: light dark;
		}
	</style>
</html>
